<div id="area-principal" (click)="clickFilme(item)" *ngFor="let item of items">
  <div id="movie">
    <div class="img">
      <img class="img-movie" [src]="item | imagemFilme">
    </div>
    <div>
      <span class="percent">{{ item.vote_average / 10 | percent }}</span>
      <h2 class="title azul">{{ item.title }}</h2>
      <span class="data-movie">{{ item.release_date | date: 'dd/MM/yyyy' }}</span>
      <p>{{ item.overview }}</p>
      <app-btn-genero></app-btn-genero>
    </div>
  </div>
</div>