#area-principal {
  width: 1080px;
  margin: 55px auto 10px auto;
}

#movie {
  background-color: #ebebeb;
  padding: 20px 0 20px 20px;
  margin-bottom: 10px;
  height: 560px;
}

/* #title {
  padding: 2em;
  background-color: #e6e6e6;
} */

.azul-marinho{
  font-size: 25px;
}

.img-movie {
  float: right;
  margin-top: 35px;
  width: 30%;
}

.subtitle {
  margin-top: 35px;
  width: 68%;
}

p {
  margin-top: 1em;
  text-align: justify;
  width: 68%;
}

.data-movie {
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

table {
  width: 68%;
}

th, td {
  text-align: center;
}

.genero {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.element-voto{
  float: right;
  margin-right: 3%;
}