<div id="area-principal">
  <div id="movie">
    <div id="title">
      <p class="azul-marinho">{{ filme.title }}</p><span>{{ filme.release_date | date:'dd/MM/yyyy' }}</span>
    </div>
    <div>
      <h3 class="subtitle azul-marinho">Sinopse</h3>
      <p>{{ filme.overview }}</p>
      <h3 class="subtitle azul-marinho">Informações</h3>
      <table>
          <tr class="suntitulo azul-marinho">
            <th>Situação</th>
            <th>Idioma</th>
            <th>Duração</th>
            <th>Orçamento</th>
            <th>Receita</th>
            <th>Lucro</th>
          </tr>
          <tr>
            <td>{{ filme.status }}</td>
            <td>{{ filme.original_language }}</td>
            <td>{{ filme.runtime | horaMinutos }}</td>
            <td>{{ filme.budget | currency }}</td>
            <td>{{ filme.revenue | currency }}</td>
            <td>{{ (filme.revenue - filme.budget) | currency }}</td>
          </tr>
        </table>
        <div class="box-voto">
            <strong class="voto azul">{{ filme.vote_average / 10 | percent }}</strong>
        </div>
      <app-btn-genero></app-btn-genero>
    </div>
    <div class="img">
      <img class="img-movie" [src]="filme | imagemFilme" [alt]="filme.original_title"/>
    </div>
  </div>
</div>
