.box-search {
    width: 97.5%;
    background-color:#ebebeb;
    border: none;
    border-radius: 25px;
    padding: 0.5%;
    padding-left: 2%;
    color: rgb(25, 18, 18);
    height: 30px;
    font-size: 20px;
}

.box-search:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  } 

.paginacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
