@import url('https://fonts.googleapis.com/css?family=Lato:300');

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: 'Abel', 'Lato', sans-serif;
}

.azul {
	color: #00e8e4;
}

.azul-marinho {
	color: #116193;
}

.subtitle {
  font-size: 16px;
  border-bottom: 1.5px solid #00e8e4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
